@{
    ViewData["Title"] = "AddFurniture";
}

<title>Add Product</title>
<form asp-action="AddProduct" asp-controller="Dashboard" method="post" enctype="multipart/form-data">
    <input type="file" id="file1" name="file1" multiple="multiple" />
    <button type="submit">Upload File(s)</button>
</form>