@{
    ViewData["Title"] = "Home";
    Layout = "_UserDashboardLayout";
}
<link rel="stylesheet" href="~/Assets/CSS/welcome.css">
@*<div class="canvas">
    <div class="water"></div>
    <div class="nonWater">
    <div class="sun"></div>
    <div class="mountain darkColor">
    <div class="patch2 lighterColor"></div>
    <div class="patch0 lighterColor"></div>
    <div class="patch10 darkColor"></div>
    <div class="patch1 lighterColor"></div>
    <div class="patch3 lighterColor"></div>
    <div class="patch7 darkColor"></div>
    <div class="patch4 lighterColor"></div>
    <div class="patch8 darkColor"></div>
    <div class="patch5 lighterColor"></div>
    <div class="patch9 darkColor"></div>
    <div class="patch6 lighterColor"></div>
    <!-- <div class="patchDarken"></div> -->
    </div>
    </div>
    </div>*@