<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Store-coming soon</title>
    <link rel="shortcut icon" href="~/Assets/img/announce.png" type="image/x-icon">
    <link rel="stylesheet" href="~/Assets/SCSS/bootstrap.css">
    <link rel="stylesheet" href="~/Assets/CSS/storestyle.min.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>