@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}


<a href="#">
    <div id="up" class="up">
        <i id="arrowdown" class="fas fa-angle-up"></i>
    </div>
</a>
<div class="header-phone">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 col-md-6 col-6">
                <div class="box logo"><img src="Assets/img/Logo.svg" alt="Image"></div>
            </div>
            <div class="col-lg-6 col-md-6 col-6">
                <div class="box menu"><img src="Assets/img/hamburger.png" alt="Image"></div>
            </div>
        </div>
    </div>
</div>
<section id="first">
    <div class="container">
        <div class="back">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-5 left">
                    <p class="first">LIGHTNING<br>2018</p>
                    <h2>ETNA</h2>
                    <p class="second">FROM <b>$183.76</b></p><br>
                    <a href="#">Shop Now</a>
                </div>
                <div class="col-lg-7 right d-flex">
                    <div class="object1"><img src="Assets/img/lamp1.png" alt="Image"></div>
                    <div class="object2"><img src="Assets/img/lamp2.png" alt="Image"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="second">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-12">
                <div class="box">
                    <img src="Assets/img/chairs.jpg" alt="Image">
                    <div class="titles">
                        <a href="#">Chairs</a>
                        <p>5 items</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="box">
                    <img src="Assets/img/sofas.jpg" alt="Image">
                    <div class="titles">
                        <a href="#">Sofas</a>
                        <p>5 items</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="third">
    <div class="container">
        <div class="title">
            <h2>Trending This Week</h2>
            <p>
                Find a bright ideal to suit your taste with our great selection of suspension, wall, floor and table
                lights.
            </p>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-3 col-12 col-md-4 col-sm-6">
                <div class="box">
                    <a asp-controller="Home" asp-action="ProductDetail"><img src="Assets/img/teapotjpg.jpg" alt="Image"></a>
                    
                    <div class="bottom">
                        <a href="#">+ ADD TO CART</a>
                    </div>
                    <div class="heart">
                        <a href="#"><i id="arrowdown" class="fas far fa-heart"></i></a>
                    </div>
                </div>
                <div class="description">
                    <a href="#">Teapot</a><br>
                    <span>$120.00</span>
                </div>
            </div>
            <div class="col-lg-3 col-12 col-md-4 col-sm-6">
                <div class="box">
                    <img src="Assets/img/dining_table.jpg" alt="Image">
                    <div class="bottom">
                        <a href="#">+ ADD TO CART</a>
                    </div>
                    <div class="heart">
                        <a href="#"><i id="arrowdown" class="fas far fa-heart"></i></a>
                    </div>
                </div>
                <div class="description">
                    <a href="#">Miro Dining Table</a><br>
                    <span>$113.00</span>
                </div>
            </div>
            <div class="col-lg-3 col-12 col-md-4 col-sm-6">
                <div class="box">
                    <img src="Assets/img/table_lamp.jpg" alt="Image">
                    <div class="bottom">
                        <a href="#">+ ADD TO CART</a>
                    </div>
                    <div class="heart">
                        <a href="#"><i id="arrowdown" class="fas far fa-heart"></i></a>
                    </div>
                </div>
                <div class="description">
                    <a href="#">Table Lamp</a><br>
                    <span>$161.00</span>
                </div>
            </div>
            <div class="col-lg-3 col-12 col-md-4 col-sm-6">
                <div class="box">
                    <img src="Assets/img/floor lamp.jpg" alt="Image">
                    <div class="bottom">
                        <a href="#">+ ADD TO CART</a>
                    </div>
                    <div class="heart">
                        <a href="#"><i id="arrowdown" class="fas far fa-heart"></i></a>
                    </div>
                </div>
                <div class="description">
                    <a href="#">Floor and Table</a><br>
                    <span>$167.00</span>
                </div>
            </div>
        </div>
        <div class="foot">
            <a href="#">+See All Prdoucts</a>
        </div>
        <hr>
    </div>
</section>
<section id="fourth">
    <div class="container">
        <div class="title">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <h2>New Design</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <ul class="d-flex">
                        <li><a href="#">All</a></li>
                        <li><a href="#">Furniture</a></li>
                        <li><a href="#">Chairs</a></li>
                        <li><a href="#">Lighting</a></li>
                        <li><a href="#">Decor</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 left">
                    <div class="box">
                        <img src="Assets/img/sofas.jpg" alt="Image">
                        <div class="desc">
                            <a href="#">All</a>
                            <p>17 items</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 right">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-6">
                            <div class="box">
                                <div class="top">
                                    <h6>Mirror</h6>
                                    <p>$183.00</p>
                                </div>
                                <img src="Assets/img/mirror.jpg" alt="Image">
                                <a href="#">+ ADD TO CART</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="box">
                                <div class="top">
                                    <h6>Mini Sideboard</h6>
                                    <p>$165.00</p>
                                </div>
                                <img src="Assets/img/desk.jpg" alt="Image">
                                <a href="#">+ ADD TO CART</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="box">
                                <div class="top">
                                    <h6>Mouse Pad</h6>
                                    <p>$193.00</p>
                                </div>
                                <img src="Assets/img/mouse.jpg" alt="Image">
                                <a href="#">+ ADD TO CART</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="box">
                                <div class="top">
                                    <h6>Sofa</h6>
                                    <p>$160.71</p>
                                </div>
                                <img src="Assets/img/sofa2.jpg" alt="Image">
                                <a href="#">+ ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="fifth">
    <div class="container">
        <div class="title">
            <h2>Our Blogs</h2>
            <p>
                Find a bright ideal to suit your taste with our great selection of suspension, wall, floor and table
                lights.
            </p>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-4 col-12 col-md-6 col-sm-6">
                <div class="box">
                    <img src="Assets/img/wall.jpg" alt="Image">
                    <div class="bottom">
                        <h3>Face the New Year with The Real Home Decor!</h3>
                        <span>/ September 10,2018</span>
                        <hr>
                        <p>
                            The first thing you need to do is sit down and set your goals. Diana Scharf Hunt said
                            “Goals are...
                        </p>
                        <a href="#">+ Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 col-md-6 col-sm-6">
                <div class="box">
                    <img src="Assets/img/vase.jpg" alt="Image">
                    <div class="bottom">
                        <h3>Face the New Year with The Real Home Decor!</h3>
                        <span>/ September 10,2018</span>
                        <hr>
                        <p>
                            The first thing you need to do is sit down and set your goals. Diana Scharf Hunt said
                            “Goals are...
                        </p>
                        <a href="#">+ Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 col-md-6 col-sm-6">
                <div class="box">
                    <img src="Assets/img/shoes.jpg" alt="Image">
                    <div class="bottom">
                        <h3>Face the New Year with The Real Home Decor!</h3>
                        <span>/ September 10,2018</span>
                        <hr>
                        <p>
                            The first thing you need to do is sit down and set your goals. Diana Scharf Hunt said
                            “Goals are...
                        </p>
                        <a href="#">+ Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="sixth">
    <div class="container">
        <div class="main">
            <h1>Flexible.Fast Support.</h1>
        </div>
    </div>
</section>

<script src="Assets/JS/app.js"></script>