@model SignInFormModel
@{
    ViewData["Title"] = "Registration";
    Layout = "_Signin";
}
<div class="login-page">
    <div class="form">
        <form class="login-form" method="post">
            @if (!string.IsNullOrWhiteSpace(ViewBag.Message))
            {
                if (@ViewBag.Message == "Ugurla qeydiyyatdan kecdiniz")
                {
                    <p class="alert alert-info message"><i class="fab far fa-check-circle"></i>@ViewBag.Message</p>
                }
                else
                {
                    <p class="alert alert-warning message">@ViewBag.Message</p>
                }
            }
            <input type="text" name="Username" placeholder="Username" asp-for="Username" />
            <input type="email" name="Email" placeholder="Email address" asp-for="Email" />
            <input type="password" class="pass" name="Password" placeholder="Password" asp-for="Password" />
            <button>Create</button>
            <p class="message1">Already registered? <a asp-controller="Account" asp-action="Login">Sign In</a></p>
        </form>
    </div>
</div>

<script src="~/Assets/JS/app.js"></script>